body {
  margin: 0;
  background-color: #121212;
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  width: 400px;
  margin: 10px auto;
  text-align: center;
}

textarea{
  margin: 0px auto;
  background-color: #292929;
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  padding: 0.5em;
  outline: none;
  border-radius: 5px;
  border: 2px solid #FFF;
  resize: none;
}

h1{
  margin-bottom: 0px;
}

p{
  margin: 0px auto 20px auto;
}

h4{
  margin: 10px auto;
}

button{
  background-color: aqua;
  color: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  padding: 2px 20px 4px 20px;
  outline: none;
  border-radius: 5px;
}

button:active{
  transform: scale(0.95, 0.95);
}

.timer{
  width: 250px;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
}

.timer button{
  padding: 0px 15px 0px 15px;
  font-size: 1em;
}

.disable{
  background-color: #C4C4C4;
  cursor: not-allowed;
}
.normal{
  background-color: aqua;
}